* {
    background-color:rgb(249, 246, 246);
}

h1 {
    text-align: center;
    color:rgb(66, 119, 216);
}

h2 {
    color:rgb(66, 119, 216); 
    margin-top: 55px;
    
}

.section {
    margin-left: 45px;
    margin-right: 45px;
    font-size: 1rem;
}

.tab {
    margin-left: 35px;
}